{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
    <h3>You silly tomato, you dont have Admin role to go to this site. 
        Ask admin for access or relog to admin account
    </h3>
{% endblock %}