{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

{{ form_start(tagForm) }}
{{ form_row(tagForm.tag) }}
<button class="btn">Add</button>
{{ form_end(tagForm) }}
{% endblock %}